@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';


@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: $text-color;
}

body {
    position: relative;
    height: auto;
    background: url("../images/bg/tolkovo_bg.jpg") center center / cover no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
    background-attachment: fixed;
}

.main {
    scroll-behavior: smooth;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}



@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/login';
@import 'blocks/profile';
@import 'blocks/footer';
@import 'blocks/media';

