.footer {
	padding: calc(0.8rem * var(--size-a-0-75)) 0 .1rem;
	background-color: #363636;
	overflow: hidden;
}

.footer__top {
	margin-bottom: .65rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}

.footer__link {
	display: block;
	color: currentColor;
	padding-bottom: 3px;
	-webkit-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s;
	border-bottom: 1px solid transparent;
}

.footer__link:hover {
	border-bottom-color: currentColor;
}

.footer__menu-toggle {
	margin-bottom: .6rem;
	opacity: 0;
	-webkit-animation-name: b;
	animation-name: b;
}

.footer__menu-toggle .menu-toggle__item,
.footer__menu-toggle .menu-toggle__item:after,
.footer__menu-toggle .menu-toggle__item:before {
	background-color: #ffffff;
}

.footer__address {
	margin-bottom: .8rem;
}

.footer__address-title,
.footer__menu-title {
	color: #fff;
	font-size: clamp(16px, .4rem, 22px);
	line-height: 1;
	margin-bottom: .4rem;
	opacity: 0;
	-webkit-animation-name: b;
	animation-name: b;
}

.footer__address-box,
.menu__link {
	font-style: normal;
	color: #ffffff;
	font-size: clamp(14px, .21rem, 18px);
	line-height: 1.905;
	opacity: 0;
	-webkit-animation-name: b;
	animation-name: b;	
}

.footer__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.footer__info .logo__icon {
	fill: #ffffff;
}



.footer__logo {
	margin-bottom: .62rem;
	opacity: 0;
	-webkit-animation-name: b;
	animation-name: b;
}

.footer__logo .logo__icon {
	font-size: 3rem;
}

.footer__phone {
	margin-bottom: .15rem;
	margin-top: .15rem;
	line-height: 1;
	font-size: clamp(14px, .4rem, 22px);
}

.footer__email,
.footer__phone {
	color: #fff;
	opacity: 0;
	-webkit-animation-name: b;
	animation-name: b;
}

.footer__email {
	margin-bottom: .5rem;
	font-size: clamp(14px, .3rem, 22px);
}

.footer__btn {
	display: inline-flex;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    border-radius: 0rem;
    margin-right: -2.1rem;
	-webkit-animation-name: b;
	animation-name: b;
}

.footer__bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer__bottom-link {
	font-size: .21rem;
	color: #707070;
}

.footer__bottom-link-left,
.footer__bottom-link-right {
	opacity: 0;
	-webkit-animation-name: b;
	animation-name: b;
}


.footer__menu {
	padding-top: 33px;
	display: block;
}

.footer-menu__list {
	text-decoration: none;
}

.footer-menu__list-item {
	-webkit-animation-name: b;
	animation-name: b;
	line-height: 2px;
}

.menu-modal__link {
	-webkit-animation-name: b;
	animation-name: b;
}

.footer-menu__link-text {
	color: #fff;
	-webkit-animation-name: b;
	animation-name: b;
}