.login {

    &__wrapper {
        max-width: 500px;
        min-height: 33vh;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 4px 4px 50px rgba(38, 50, 77, 0.08);
        border-radius: 25px;
        padding: 16px 23px;
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__title {
        font-size: 34px;
        color: $main-color;
    }

    &__description {
        font-size: 18px;
        color: $second-color;
    }

    .btn {
        @include btn;
        background: $second-color;

        &:nth-child(3) {
            background: $main-color;

            &:hover {
                background: $main-color-hover;
            }
        }
    }

    &__form {
        margin-top: 10px;
        display: none;
        flex-direction: column;

        button {
            margin-top: 20px;
            @include btn;
            background: $main-color;
        }

        label {
            margin-top: 20px;
        }
    }
}