.title {
	display: block;
	font-weight: 400;
	line-height: 1.15;
	color: #d6c182;
	font-family: "Gilroy", sans-serif;
	word-wrap: break-word;
}

.title._white {
	color: #fff;
}

.title._black {
	color: #000;
}

.title._size-lg {
	font-size: clamp(24px, .8rem, 50px);
}