.title {
    font-size: 26px;
    line-height: 1.1em;
    font-weight: bold;

    &_fz56 {
        font-size: 56px;
    }

    &_fz40 {
        font-size: 40px;
    }

    &_fz34 {
        font-size: 40px;
    }

    &_fz22 {
        font-size: 22px;
    }
}